<h1>Hi! This is views/index/main.html.erb</h1>

<% @paginated_food_trucks.each do |food_trucks| %>
  <% food_trucks.each do |food_truck| %>
    <%= "#{food_truck[:name]} #{food_truck[:address]}" %><br>
  <% end %>
<% end %>